/* Contact Page CSS */

.centeringtext{
    text-align: center !important;
}
body{
    font-family: 'Monaco', monospace;
}
.column {
    float: left;
    width: 40%;
}

.columnMiddle {
    float: right;
    width: 40%;
}
.backgroundheader2 {
    background-color: rgb(134, 180, 248);
    padding: 24px 0;

}
.Backgroundcolor {
    background-color: lightgrey;
}