/*Main CSS for the information page*/

.mainTopic {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.2fr;
    background-color: #D3D3D3;
}


#topic1 {
    grid-column: 1/2;
    grid-row: 1;
}

#topic2 {
    grid-column: 2/3;
    grid-row: 1;
}

figure {
}

@media screen and (max-width: 930px) {
    .mainTopic {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 0.4fr;
        background-color: #D3D3D3;
    }
    #topic1 {
        grid-column: 1/2;
        grid-row: 1;
    }
    #topic2 {
        grid-column: 1/2;
        grid-row: 2;
    }
    figure {
        grid-column: 1/2;
        grid-row: 3;
    }
}

.topictitle {
    display: flex;
    justify-content: space-between;
    
}



.topicparagraph {
    border-radius: 15px 50px 30px;
    background: rgb(134, 180, 248);
    padding: 30px;
    width: 400px;
    height: 675px;
    margin: auto;
    box-sizing: border-box;
    color: whitesmoke;
}