/*Main CSS for the information page*/

.mainTopic {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 1fr;
    background-color: #D3D3D3;
}

.helpBackground {
    background-color: #D3D3D3; 
}

#topictitle1 {
    grid-column: 1/2;
    grid-row: 1;
    margin: 35px;
    text-align: center;
}

#topictitle2 {
    grid-row: 1;
    grid-column: 2/3;
    margin: 35px;
    text-align: center;   
}

#topic1p {
    grid-column: 1/2;
    grid-row: 2/3;
}

#topic2p {
    grid-column: 2/3;
    grid-row: 2/3;
}

.helpBackground {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 1fr;
}

#helpTitle {
    margin-top: 20px;
    margin-bottom: 20px;
    grid-column: 2/6;
    grid-row: 1;
}

#helpPara {
    border-radius: 15px 50px 30px;
    background: rgb(64, 138, 250);
    box-sizing: border-box;
    color: whitesmoke;
    padding: 30px;
    grid-column: 2/4;
    grid-row: 2;
    margin-right: 10px;
    margin-bottom: 10px;
}

#helpList {
    border-radius: 15px 50px 30px;
    background: rgb(64, 138, 250);
    box-sizing: border-box;
    color: whitesmoke;
    padding: 30px;
    margin-top: 20px;
    grid-column: 4/6;
    grid-row: 2;
    margin-left: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 790px) {
    .mainTopic {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 1fr 0.1fr 1fr;
        background-color: #D3D3D3;
    }
    #topic1p {
        grid-column: 1/2;
        grid-row: 2;
    }
    #topic2p {
        grid-column: 1/2;
        grid-row: 4;
    }
    #topictitle1 {
        grid-column: 1/2;
        grid-row: 1;
    }
    #topictitle2 {
        grid-column: 1/2;
        grid-row: 3;
    }
    figure {
        grid-column: 1/2;
    }
    .helpBackground {
        display: grid;
        grid-template-columns: 0.2fr 0.8fr 0.2fr;
        grid-template-rows: 0.2fr 1fr 1fr;
    }
    
    #helpTitle {
        margin-top: 20px;
        margin-bottom: 20px;
        grid-column: 2/3;
        grid-row: 1;
    }
    
    #helpPara {
        grid-column: 2/3;
        grid-row: 2;
    }
    
    #helpList {
        margin-top: 20px;
        grid-column: 2/3;
        grid-row: 3;
    }
}

.topicparagraph {
    border-radius: 15px 50px 30px;
    background: rgb(64, 138, 250);
    padding: 30px;
    width: 400px;
    height: 675px;
    margin: auto;
    margin-bottom: 10px;
    box-sizing: border-box;
    color: whitesmoke;
}

/* skip to main content */
.skip {
    position: absolute;
    top: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip:focus {
  position: static;
  width: auto;
  height: auto;
}
