/* Page body styles */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Monaco', monospace;
}

/* Stuff to use generally*/

.pageWidth{
    padding: 2% 0;
    max-width: 1280px !important;
    overflow-x: hidden !important;
    margin: auto !important;
}


.fontCalibri{
    font-family: 'Calibri', sans-serif;
}

.divCenter{
    margin: auto;
    width: 50%;
    padding: 10px;

}

.textCenter{
    text-align: center !important;
}

.footer {
    background-color: #F1F1F1;
    text-align: center;
    margin: bottom;
  }

/* Header */
.backgroundColorHome{
    background-color: lightgray;
}

.companyLogo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.companyLogo img {
    margin-right: 5px;
}

.companyLogo h3{
    color: rgba(0, 18, 184, 0.724);
    font-weight: bold;
    text-shadow: 0 0 1px gray;
    margin: 0 3px;
    
}

.companyLogo h3:hover{
    color: rgba(212, 2, 2, 0.729);
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigationBar {
    margin-left: auto;
}

.navigationBar a{
    font-size: 1.085em;
    color: rgba(0, 18, 184, 0.724);
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0 0 1px gray;
    margin: 0 3px;
}

.navigationBar a:hover{
    color: rgba(212, 2, 2, 0.729);
}

.currentLink {
    color: rgb(73, 145, 253) !important;
    pointer-events: none;
}

/* Home page content */

#welcomingSction{
    padding: 10% 0;
    text-align: center;
}

.underStudentsImage{
    width: 25%;
    border-radius: 180px;
}

.openingText{
    margin-top: 20px;
    font-size: 1.6em;
    
}

#bodySeporator{
    background-color: rgb(134, 180, 248);
    padding: 24px 0;
}

.flex-item {
    padding: 5px;
    margin: 0.5% 0;
    font-weight: bold;
    font-size: 2em;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.aboutRooms{
    padding: 0 !important;
}

.helpRooms{
    background-color: rgb(226, 28, 28);
    color: white;
}

.aboutRooms img{
    margin-left: 12%;
    margin-right: 4%;
    border-radius: 10px;
}

.reviewsDiv{
    background-color: rgb(134, 180, 248);
    color: white;
}

.reviewsDiv table{
    margin-left: 12%;
    margin-right: 4%;
    background-color: rgb(65, 65, 65);
    border: 4px solid black;
    border-radius: 7px;
}

.reviewsDiv table tr{
    
}


.background {
    background-image: url("/style/img/backgroundInfo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


/* Contact us page content*/

/* Screen compatibility */
/* For screens with width less than 1300px */
@media  screen and (max-width: 1300px){
    .pageWidth{
        max-width: 90%;
    }

    .divCenter{
        width: 100%;
    }
    
}

/* For screens with width less than 475px */
@media  screen and (max-width: 475px){
    .divCenter{
        width: 100%;
    }

    .navigationBar{
        text-align: left;
    }

    .navigation{
        display: block;
    }

    .navigation h3{
        text-align: center;
        font-size: 17px;
    }

    .navigation{
        margin-bottom: 20px;
    }
    
}