/* Page body styles */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Times New Roman', Times, serif;
}

/* Stuff to use generally*/

.pageWidth{
    max-width: 1280px !important;
    overflow-x: hidden !important;
    margin: auto !important;
}

.textBoxRounded{
    border-radius: 15px 50px 30px 5px;
    background: #73AD21;
    background-image: url("paper.gif")
}

.fontCalibri{
    font-family: 'Calibri', sans-serif;
}

.divCenter{
    margin: auto;
    width: 50%;
    padding: 10px;

}

.textCenter{
    text-align: center !important;
}

.footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
    margin: bottom;
  }

/* Header */
#mainHeader{
    margin: 30px 0 !important;
}

.companyLogo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.companyLogo img {
    margin-right: 5px;
}

.companyLogo h3{
    color: rgba(0, 18, 184, 0.724);
    font-weight: bold;
    text-shadow: 0 0 1px gray;
    margin: 0 3px;
    
}

.companyLogo h3:hover{
    color: rgba(212, 2, 2, 0.729);
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigationBar {
    margin-left: auto;
}

.navigationBar a{
    font-size: 1.085em;
    color: rgba(0, 18, 184, 0.724);
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0 0 1px gray;
    margin: 0 3px;
}

.navigationBar a:hover{
    color: rgba(212, 2, 2, 0.729);
}

.currentLink {
    color: rgb(73, 145, 253) !important;
    pointer-events: none;
}

/* Home page content */

#welcomingSction{
    padding-top: 22%;
    text-align: center;
}

.underStudentsImage{
    width: 25%;
    border-radius: 180px;
}

.openingText{
    margin-top: 20px;
    font-size: 1.6em;
    
}

#bodySeporator{
    background-color: rgb(134, 180, 248);
    padding: 24px 0;
}

.aboutRooms{
    
}

.aboutRooms img{
    margin: 0 22px;
    border-radius: 10px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.flex-item {
    padding: 5px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 2em;
  }

/* Information page content */

.topicparagraph1::first-letter {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.titleInfo {
    text-align: center;
    padding: 10px;
    width: 400px;
    height: 30px;
    margin: auto;
}

.topicparagraph1 {
    border-radius: 15px 50px 30px;
    background: #81C3FF;
    padding: 20px;
    width: 400px;
    height: 475px;
    margin: auto;
    position: absolute;
    box-sizing: border-box;
}

.topicparagraph2 {
    border-radius: 15px 50px 30px;
    background: #81C3FF;
    padding: 20px;
    width: 400px;
    height: 450px;
    margin: auto;
    box-sizing: border-box;
}

.helpBackground {
    background-color: lightgrey;
}

.topictitle{
    padding: 20px;
    text-align: center;
}

.column {
    float: left;
    width: 40%;
}

.columnMiddle {
    float: right;
    width: 40%;
}
.column.side {
    width: 25%;
}

.backgroundInfo {
    background-image: url("/style/img/backgroundInfo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


/* Clear floats after the columns */
 .row:after {
    content: "";
    display: table;
    clear: both;
    padding: 10px;
}

/* Contact us page content*/

/* Screen compatibility */
/* For screens with width less than 1300px */
@media  screen and (max-width: 1300px){
    .pageWidth{
        max-width: 90%;
    }

    .divCenter{
        width: 100%;
    }
    
}

/* For screens with width less than 475px */
@media  screen and (max-width: 475px){
    .divCenter{
        width: 100%;
    }

    .navigationBar{
        text-align: left;
    }

    .navigation{
        display: block;
    }

    .navigation h3{
        text-align: center;
        font-size: 17px;
    }

    .navigation{
        margin-bottom: 20px;
    }
    
}