/* Page body styles */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Times New Roman', Times, serif;
    max-width: 1280px;
    overflow-x: hidden;
    margin: auto;
}

/* Stuff to use generally*/

.textBoxRounded{
    border-radius: 15px 50px 30px 5px;
    background: #73AD21;
    background-image: url("paper.gif")
}

.fontCalibri{
    font-family: 'Calibri', sans-serif;
}

.divCenter{
    margin: auto;
    width: 50%;
    padding: 10px;

}

.textCenter{
    text-align: center !important;
}

.footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
    margin: bottom;
  }

/* Header */
#mainHeader{
    margin-top: 25px;
}

.companyLogo {
    display: flex;
    align-items: center;
}

.companyLogo img {
    margin-right: 5px;
}

.companyLogo h3{
    margin: 0; 
    text-align: left;
    
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigationBar {
    margin-left: auto;
}

.currentLink {
    color: purple;
    pointer-events: none;
}

/* Home page content */

#welcomingSction{
    padding-top: 25%;
    text-align: center;
}

.underStudentsImage{
    width: 25%;
    border-radius: 180px;
}

.openingText{
    margin-top: 20px;
    font-size: 1.6em;
    
}

/* Information page content */

.topicparagraph1::first-letter {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.titleInfo {
    text-align: center;
    padding: 10px;
    width: 300px;
    height: 30px;
    margin: auto;
}

.topicparagraph1 {
    border-radius: 15px 50px 30px;
    background: #81C3FF;
    padding: 20px;
    width: 350px;
    height: auto;
    margin: auto;
    position: absolute;
    box-sizing: border-box;
}

.topicparagraph2 {
    border-radius: 15px 50px 30px;
    background: #81C3FF;
    padding: 20px;
    width: 350px;
    height: auto;
    margin: auto;
    float: bottom;
    box-sizing: border-box;
}

.topictitle{
    text-align: center;
}

.column {
    float: left;
    width: 40%;
}

.columnMiddle {
    float: right;
    width: 40%;
}
.column.side {
    width: 25%;
}

.backgroundInfo {
    background-image: url("/style/img/backgroundInfo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


/* Clear floats after the columns */
 .row:after {
    content: "";
    display: table;
    clear: both;
}

/* Screen compatibility */
/* For screens with width less than 1300px */
@media  screen and (max-width: 1300px){
    body{
        max-width: 90%;
    }

    .divCenter{
        width: 100%;
    }
    
}

/* For screens with width less than 475px */
@media  screen and (max-width: 475px){
    .divCenter{
        width: 100%;
    }

    .navigationBar{
        text-align: left;
    }

    .navigation{
        display: block;
    }

    .navigation h3{
        text-align: center;
        font-size: 17px;
    }

    .navigation{
        margin-bottom: 20px;
    }
    
}